<ion-header>
  <ion-toolbar>
    <ion-title>RunComponents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <ion-grid>
      <ion-row *ngFor="let entry of COMPONENTS">
        <ion-col>
           <b> {{entry.component}} </b>
        </ion-col>
        <ion-col>
          <ion-checkbox [(ngModel)]="entry.isChecked" name={entry.materia} (ionChange)="checkboxClick($event)" entry.component></ion-checkbox>
        </ion-col>
      </ion-row>
      <!--ion-row *ngFor="let entry of Codigos">
      <ion-col>{{entry.materia}}</ion-col-->
    </ion-grid>
    <ion-button expand="block"> Start Components </ion-button>
  </div>
</ion-content>
