<!--ion-header>
    <ion-title>
      SLAM MAP
    </ion-title>
</ion-header-->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="obj" #Obj></div>
      </ion-col>
      <ion-col>
        <ion-title>Options</ion-title>
        <ion-card  style="height:20%" >
          <ion-button  style="height:100%"  expand="full"> Save Map </ion-button>
        </ion-card>
        <ion-card  style="height:20%" >
          <ion-button style="height:100%" expand="full"> Reset </ion-button>
        </ion-card>
        <ion-card  style="height:20%" >
          <ion-button style="height:100%" expand="block"> Start/Stop Mapping </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
