<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teleoperation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-safe-header></app-safe-header>
  <app-radar></app-radar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label> Navigation Helper </ion-label>
        <ion-card>
          <img id="feedback" [src]=url>
        </ion-card>    
      </ion-col>
      <ion-col>
        <ion-label> Joystick </ion-label>
        <ion-card>
            <div style="position: relative; left: 0; top: 0; min-height: 200px; background-color: #dddddd" id="zone_joystick"></div>
        </ion-card>
        <ion-label>X: {{speed.vel_x}} Y:{{speed.vel_y}} Z:{{speed.vel_z}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--app-explore-container name="Tab 1 page"></app-explore-container-->
</ion-content>
