<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teleoperation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label> Navigation Helper </ion-label>
  <ion-card>
    <div style="position: relative; left: 0; top: 0; min-height: 200px; background-color: #dddddd" id="zone_map"></div>
  </ion-card>


  <ion-label> Joystick </ion-label>
  <ion-card>
      <div style="position: relative; left: 0; top: 0; min-height: 200px; background-color: #dddddd" id="zone_joystick"></div>
  </ion-card>

  <ion-label> Lock Button </ion-label>
  <ion-button class="lockbutton" (click)="lock()">
    Lock Button
  </ion-button>


  <!--app-explore-container name="Tab 1 page"></app-explore-container-->
</ion-content>
