.mymap {
  width: 20%;
  display: inline-block;
  overflow: hidden;
  outline: dashed 1px black;
}

capacitor-google-map {
  display: inline-block;
  width: 275px;
  height: 400px;
}

@import "~leaflet/dist/leaflet.css";
