.mymap {
  width: 50%;
  display: inline-block;
  overflow: hidden;
  outline: dashed 1px black;
}

capacitor-google-map {
  display: inline-block;
  width: 275px;
  height: 400px;
}

h1, h2, p {
  text-align: center;
}

.leaflet-container {
  height: auto;
  width: 100%;
  margin: 0 auto;
}