
<!--ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Ionic 5 Leaflet Demo with leaflet ant path
    </ion-title>
  </ion-toolbar>
</ion-header-->
<!--capacitor-google-map id="map"></capacitor-google-map-->
<ion-grid>
  <ion-row>
    <ion-col>Waypoint</ion-col>
    <ion-col>
      <!--ion-list placeholder="Select fruit">
        <ion-list-select *ngFor="let item of itemlist" type="string"></ion-list-select>
      </ion-list-->
      <ion-select   label="BBB" [(ngModel)]="node_selection" ok-text="Seleccionar" cancel-text="Cancelar" text="AAA" >
        <ion-select-option *ngFor="let entry of list_nodes"> {{entry}} </ion-select-option>
      </ion-select>  
    </ion-col>
  </ion-row>
</ion-grid>
<ion-button>GO!</ion-button>

 <div id="map2"></div>
